# Database (MySQL)
MYSQL_ROOT_PASSWORD=root-user-password
MYSQL_DATABASE=database-name
MYSQL_USER=database-user
MYSQL_PASSWORD=database-user-password
MYSQL_PORT=database-port
MYSQL_IP=127.0.0.1

# Core API (Spring Boot)
CORE_API_PORT=core-api-port
JWT_SECRET=random-robust-jwt-secret
JWT_EXPIRATION_MS=jwt-expiration-time-in-milliseconds
COOKIE_SECURE=true-or-false-based-on-your-setup
CORS_ALLOW_ORIGIN=allowed-origins-for-cors
SECRET_ENCRYPTION_KEY=AES-256-encryption-key-for-imported-apps-secrets-coded-in-base64-32bytes
GEMINI_API_KEY=gemini-api-key
GEMINI_MODEL=gemini-api-model
APP_PUBLIC_URL=public-url-of-the-frontend
GITHUB_APP_CLIENT_ID=github-app-client-id
GITHUB_APP_CLIENT_SECRET=github-app-client-secret
GITHUB_APP_SLUG=github-app-slug
GITHUB_APP_ID=github-app-id
GITHUB_APP_PRIVATE_KEY=github-app-private-key-from-github-app-settings-body-without-begin-end-lines-and-newlines

# Core API and Bot Service internal communication
INTERNAL_SECURITY_TOKEN=internal-communication-token-between-core-api-and-bot-service

# Bot Service (Discord)
BOT_SERVICE_PORT=bot-service-port
BOT_SERVICE_URL=bot-service-url-provided-by-docker-namespace-without-trailing-slash
BACKEND_URL=core-api-url-provided-by-docker-namespace-without-trailing-slash
DISCORD_BOT_TOKEN=discord-bot-token

# Cloudflare (Tunnel + DNS)
TUNNEL_TOKEN=cloudflare-tunnel-token
CLOUDFLARE_API_TOKEN=cloudflare-api-token
CLOUDFLARE_ZONE_ID=cloudflare-zone-id
CLOUDFLARE_TUNNEL_ID=cloudflare-tunnel-id
CLOUDFLARE_BASE_DOMAIN=base-domain-for-cloudflare-dns
